<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.SkipAtestCase"/>
      <class name="TestNG.FrameWorktestNg"/>
      <class name="TestNG.PriorityTestNG"/>
      <class name="TestNG.SuiteExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
